@use 'config/reset.scss';
@use 'secao/products.scss';
@use 'config/variaveis.scss';

body {
    background-color: variaveis.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corSecundaria;
    position: sticky;
    top: 0;
    left: 0;
    
    .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
    font-weight: bold;
    margin-left: 24px;
    }

    a {
    color: variaveis.$corDeFundo;
    text-decoration: none;
    }
}

section {
    padding: 56px 0;
}

@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

